@media(max-width: 600px) {
    .userInfoTile {
        margin: 0 20px 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media(min-width: 601px) {
    .userInfoTile {
        margin: 0 20px 20px 0;
        width: calc(100% / 3 - 20px);
    }
}